.home {
    width: 100vw;
    // background: #161616;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
        font-size: 18px;
    }
    h1 {
        margin-bottom: 5px;
        span {
            color: #FFC107;
        }
    }
}
