.login {
    display: flex;
    justify-content: center;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    margin: 200px auto;
    form {
        width: 100%;
        button {
            margin: 0 0 0 66%;
        }
        .err {
            color: red;
            width: 50%;
            margin: auto;
        }
        .field {
            display: block;
            padding: 15px 10px;
            background-color: #f1f1f1;
            border: none;
            width: 50%;
            outline: none;
            font-size: 16px;
            font-family: Open Sans,sans-serif;
            transition: .5s cubic-bezier(.25,.46,.45,.94);
            box-shadow: 0 10px 50px -5px rgba(0,0,0,.15);
            margin: 20px auto;
            &:focus {
                box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.15);
            }
        }
    }
}
